{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

        {% for car in cars %}
        <h3>
                Автор: {{ car.author.get_full_name }}, дата публикации: {{ car.create_at|date:"d M Y" }}, дата обновления: {{ car.update_at|date:"d M Y" }}
        </h3>
        <p>Производитель: {{ car.make|linebreaksbr }}</p>
        <p>Модель: {{ car.model|linebreaksbr }}</p>
        <p>Год выпуска: {{ car.year|linebreaksbr }}</p>
        <p>Описание: {{ car.description|linebreaksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}

{% endblock %}